body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #b9e2a1 0%, #e7e2cf 100%);
    background-attachment: fixed;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.output {
    display: inline-block;
    width: 30%;
    background-color: #fffc;
    padding: 10px;
    border-radius: 8px;
    vertical-align: top;
    margin-left: 5px;
}


.difference:not(.hidden) {
    background-color: #e3e995;
}

.button_panel {
    text-align: center;
    margin-top: 5px;
}

input[type="button"] {
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: large;
    box-shadow: 0 2px 4px #0001;
}


input[type="button"]:hover:not(:disabled) {
    background: #ffd;
    cursor: pointer;
}

input[type="button"]:disabled {
    background: #bbb;
    cursor: not-allowed;
}

label {
    user-select: none;
}

.white-box {
    border-radius: 8px;
    background: #fff;
    padding: 15pt;
    box-shadow: 0 4px 6px #0000001a
}