body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #b9e2a1 0%, #dbcfe7 100%);
    background-attachment: fixed;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.output {
    display: inline-block;
    width: 30%;
    background-color: #fffc;
    padding: 10px;
    border-radius: 4px;
    vertical-align: top;
    margin-left: 5px;
}


.difference:not(.hidden) {
    background-color: #e3e995;
}

.button_panel {
    text-align: center;
    margin-top: 5px;
}

input[type="button"] {
    background: #ffe;
    border: none;
    border-radius: 5px;
    font-size: large;
}

.button_navigation.button_selected {
    background: #8db3ec !important;
}

input[type="button"]:hover:not(:disabled) {
    background: #efe;
    cursor: pointer;
}

label {
    user-select: none;
}

.white-box {
    border-radius: 5pt;
    background: #fff;
    padding: 15pt;
}